<div class="app-container">
  <div class="weather-container">
    <div class="left-container">
      <app-left-container></app-left-container>
    </div>
    <div class="right-container">
      <app-right-container></app-right-container>
      <!-- <div class="nav-bar-tabs">
      <div class="today">Today</div>
      <div class="week">Week</div>
    </div>
    <div class="nav-bar-metrics">
      <div class="celcius">°C</div>
      <div class="farhenhite">°F</div>
    </div> -->
    </div>
  </div>
</div>
